{% extends 'base.html.twig' %}

{% block title %}Edit NouvelleReservation{% endblock %}

{% block body %}
    <h1>Edit NouvelleReservation</h1>

    {{ include('nouvelle_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nouvelle_reservation_index') }}">back to list</a>

    {{ include('nouvelle_reservation/_delete_form.html.twig') }}
{% endblock %}
